# Enable rewrite engine
RewriteEngine On

# Handle requests for files and directories that actually exist
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Redirect all other requests to index.html for client-side routing
RewriteRule ^ index.html [L]

<IfModule mod_headers.c>
  Header set Cross-Origin-Opener-Policy "same-origin"
  Header set Cross-Origin-Embedder-Policy "require-corp"
  Header set Access-Control-Allow-Origin "*"
</IfModule>